<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>增加展点内容</title>
    <link rel="stylesheet" href="{% static 'serverdb/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'serverdb/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'serverdb/js/bootstrap.min.js' %}"></script>
    <style>
        .padding2px{
            padding: 2px;
            border:rgb(3,155, 173) 1px solid;
            background-color: rgb(7,31,72);
            /* text-align: center; */
            color: white;
            /* line-height: 45px; */
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .padding2px span{
            pointer-events: none;
        }

    </style>
</head>
<body> 
    <div class="container">
        <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel">密码修改</h2>
        </div><br>
        
        <form action="/user/uppassword/{{ id }}/" method="POST" enctype="multipart/form-data">{% csrf_token %}
            
            <div class="input-group">
                <span class="input-group-addon">原密码:</span>
                <input type="text" class="form-control" placeholder="请输入原始密码" name="password1" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">修改密码:</span>
                <input type="password" class="form-control" placeholder="请输入要修改的密码" name="password2" autocomplete="off">
            </div><br>
            <input type="submit" class="btn btn-success btn-lg btn-block" value="提交">
        </form>
        
    </div>
    
    
</body>

<script>
    
    $('.padding2px').click(function(){
        // alert($(this).attr("id"));
        $('#area').attr("value",$(this).attr("id"));
    });
</script>
</html>