{% load static %}
{% load my_filter %}
<!DOCTYPE html>
<html lang='ch'>

<head>
    <meta charset="UTF-8">
    <title>展项内容</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="{% static 'serverdb/img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'serverdb/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'serverdb/css/xadmin.css' %}">
    <style>
        th,
        tr {
            text-align: center !important;
        }

        .divtable {
            width: 1500px;
            display: flex;
            overflow-x: scroll;
        }

        .cell_data {
            border: 1px solid gainsboro;
            margin-left: -1px;
        }

        .cell_title {
            border-bottom: 1px solid gainsboro;
        }

        .data {
            min-width: 150px;
            padding: 9px 15px;
        }

        #data_show:hover td div {
            cursor: pointer;
            position: absolute;
            right: 2px;
            bottom: 2px;
            display: inline-block;
            background: url("../../static/img/down.png") no-repeat center;
            background-size: 15px;
            width: 20px;
            height: 20px;
        }
    </style>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">--</a>
            <a href="">--</a>
            <a>
                <cite>--</cite>
            </a>
        </span>

        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right" href="/check/check_show/"
            title="刷新">
            <i class="layui-icon" style="line-height:30px">&#xe669;</i>
        </a>

        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
            onclick="x_admin_show('新增界面','/check/check_out/',900,800)" href="javascript:;" title="上传">
            <i class="layui-icon" style="line-height:30px">导出数据</i>
        </a>
    </div>
    <div class="x-body">
        <div class="layui-row">
            <form id="form1" class="layui-form layui-col-md6 x-so" action="" method="get">
                <input class="layui-input" placeholder="按资产编码查询" name="search1" id="search1" autocomplete="off">
                <button id="layui-btn1" class="layui-btn" lay-submit="" lay-filter="sreach"><i
                        class="layui-icon">&#xe615;</i></button>
            </form>

            <form id="form2" class="layui-form layui-col-md6 x-so" action="" method="post">{% csrf_token %}
                <input class="layui-input" placeholder="按盘点状态查询" name="search2" id="search2" autocomplete="off">
                <button id="layui-btn2" class="layui-btn" lay-submit="" lay-filter="sreach"><i
                        class="layui-icon">&#xe615;</i></button>
            </form>
        </div>
        <xblock>
            <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button> -->
            <!-- <button class="layui-btn" onclick="x_admin_show('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>添加</button> -->
            <span class="x-right" style="line-height:40px">共有数据：{{ lenlist }} 条</span>
        </xblock>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>所属盘点</th>
                    <th>资产编码</th>
                    <th>资产名称</th>
                    <th>盘点状态</th>
                    <!-- <th>操作</th> -->
                </tr>
            </thead>
            <tbody>
                {% for foo in index_list %}
                <tr>
                <td>{{ foo.t_check.name }}</td>
                <td>{{ foo.t_resource.code }}</td>
                <td>{{ foo.t_resource.name }}</td>
                <td>{{ foo.is_checked }}</td>
                <!-- <td class="td-manage">
                    <a class="layui-btn layui-btn-small layui-btn-normal" title="编辑"
                        onclick="x_admin_show('信息查看','#',900,800)">
                        <i class="layui-icon">&#xe642;</i>信息修改
                    </a>
                    <a class="layui-btn layui-btn-small layui-btn-danger" title="删除"
                        href="">
                        <i class="layui-icon">&#xe640;</i>删除资产
                    </a>

                </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="page">
            <div id="pages" class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            {% if index_list.has_previous %}
                            {% if code %}
                            <a class="active"
                                href="?page={{ index_list.previous_page_number }}&code={{  code  }}&method={{ method }}">&laquo;</a>
                            {% else %}
                            <a class="active" href="?page={{ index_list.previous_page_number }}">&laquo;</a>
                            {% endif %}
                            {% endif %}
                        </li>
                        {% if index_list.paginator.page_range|length != 1 %}
                        {% for page_num in pageRange %}
                        {% if page_num == index_list.number %}
                        <li class="active">
                            <a href="#" style="background-color: cadetblue;">{{ page_num }}</a>
                        </li>
                        {% else %}
                        <li>
                            {% if code %}
                            <a href="?page={{ page_num }}&code={{  code  }}&method={{ method }}">{{ page_num }}</a>
                            {% else %}
                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <li>
                            {% if index_list.has_next %}
                            {% if code %}
                            <a class="active"
                                href="?page={{ index_list.next_page_number }}&code={{  code  }}&method={{ method }}">&raquo;</a>
                            {% else %}
                            <a class="active" href="?page={{ index_list.next_page_number }}">&raquo;</a>
                            {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'serverdb/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'serverdb/lib2/layui/layui.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'serverdb/js/xadmin.js' %}"></script>
        <script>
            layui.use('element', function () {
                var element = layui.element;
            });

            $("#layui-btn1").click(function () {
                var input_str = $("input[name='search1']").val();
                //若对查询进行空点，则不给予反应
                if (input_str.length === 0) {
                    return false;
                } else {
                    document.getElementById("form1").action = '/check/search_check/';
                }
            })

            $("#layui-btn2").click(function () {
                var input_str = $("input[name='search2']").val();
                //若对查询进行空点，则不给予反应
                if (input_str.length === 0) {
                    return false;
                } else {
                    document.getElementById("form2").action = '/check/search_check/';
                }
            })


            var is_showo = "close"; //close代表关闭状态
            var num = 0;
            var ID = 0;
            function showData(id) {
                console.log(is_showo)
                if (num == 0) {
                    ID = id;
                    num += 1;
                }
                if (ID == id) {
                    if (is_showo === "close") {
                        is_showo = "open"; //open代表打开状态
                        $("." + id).css("display", "");
                    } else if (is_showo === "open") {
                        $("." + id).css("display", "none");
                        is_showo = "close";
                    }
                } else {
                    $("." + ID).css("display", "none")
                    is_showo = "close"
                    ID = id
                    if (is_showo === "close") {
                        is_showo = "open"; //open代表打开状态
                        $("." + id).css("display", "");
                    } else if (is_showo === "open") {
                        $("." + id).css("display", "none");
                        is_showo = "close";
                    }
                }
            }

        </script>

</body>

</html>