{% load my_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>增加展点内容</title>
    <link rel="stylesheet" href="{% static 'serverdb/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'serverdb/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'serverdb/js/bootstrap.min.js' %}"></script>
    <style>
        .container {
            margin-bottom: 5px;
        }
        select {
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            color: #555;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
            border-radius: 0 4px 4px 0;
            font-size: 14px;
            line-height: 1.42857143;
            outline: none;
        }
    </style>
</head>
<body> 
    <div class="container">
        <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel">信息修改</h2>
        </div><br>
        
        <form action="/data/updateData/{{res_obj.id}}/" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">资产编码:</span>
                <input type="text" class="form-control" disabled value="{{ res_obj.code }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">资产名称:</span>
                <input type="text" class="form-control" placeholder="填写资产" name="resource_name" value="{{ res_obj.name }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">所属公司:</span>
                <select class="layui-form layui-col-md6 x-so" name="company" id="company" onchange="getValue()" lay-verify="">
                    <!-- <option value="{{ res_obj.company.name }}">{{ res_obj.company.name }}</option> -->
                    {% for obj in company_obj %}
                      <option {% if obj.name == res_obj.company.name %} selected {% endif %}>{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">所属部门:</span>
                <select class="layui-form layui-col-md6 x-so" name="department" id="department" lay-verify="">
                    <!-- <option value="{{ res_obj.department.name }}">{{ res_obj.department.name|ValueToStr }}</option> -->
                    {% for obj in department_obj %}
                      <option {% if obj.name == res_obj.department.name %} selected {% endif %}>{{ obj.name }}</option>
                    {% endfor %}
                </select>
                <!-- <input type="text" class="form-control" placeholder="请填写部门名" name="department" value="{{ res_obj.department.name }}" autocomplete="off"> -->
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">*责任所有人:</span>
                <input type="text" class="form-control" placeholder="请填写责任所有人" value="{{ res_obj.duty }}" name="duty_user" id="duty_user" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">资产分类:</span>
                <select class="layui-form layui-col-md6 x-so" name="resource_type" lay-verify="">
                    <!-- <option value="{{ res_obj.resource_type.id }}">{{ res_obj.resource_type.name }}</option> -->
                    {% for obj in type_obj %}
                      <option {% if res_obj.resource_type.id == obj.id %} selected {%endif%} value="{{ obj.id }}">{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">资产来源:</span>
                <select class="layui-form layui-col-md6 x-so" name="resource_from" lay-verify="">
                    <option value="{{ res_obj.resource_from }}">{{ res_obj.resource_from }}</option>
                    {% for obj in from_obj %}
                      <option>{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">资产状态:</span>
                <select class="layui-form layui-col-md6 x-so" id="selectChange" name="resource_status" onchange="SetValue()" lay-verify="">
                    <!-- <option value="{{ res_obj.resource_status }}">{{ res_obj.resource_status }}</option> -->
                    {% for obj in status_obj %}
                      <option {% if res_obj.resource_status == obj.name %} selected {% endif %}>{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div><br>
            <div id="borrowInfo" {% if res_obj.resource_status != "在用" %} style="display: none;" {% endif %}>
                <div class="input-group">
                    <span class="input-group-addon">领用&借用部门:</span>
                    <input type="text" class="form-control" placeholder="请填写部门名" name="borrow_department" value="{{ res_obj.borrow_department }}" autocomplete="off">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon">领用&借用人:</span>
                    <input type="text" class="form-control" placeholder="请填写借用人名" name="borrow_user" value="{{ res_obj.user|ValueToStr }}" autocomplete="off">
                </div><br>
                <div class="input-group">
                        <span class="input-group-addon">领用&借用日期:</span>
                        <input type="text" class="layui-input form-control" name="borrow_time" value="{{ res_obj.borrow_time|ValueToStr }}" id="borrow_time" autocomplete="off" placeholder="yyyy-MM-dd" >
                </div><br>
                <div class="input-group">
                        <span class="input-group-addon">预归还日期:</span>
                        <input type="text" class="layui-input form-control" name="return_time" value="{{ res_obj.return_time|ValueToStr }}" id="return_time" autocomplete="off" placeholder="yyyy-MM-dd" >
                </div><br>
            </div>
            <div class="input-group">
                <span class="input-group-addon">存放区域:</span>
                <input type="text" class="form-control" placeholder="例：深圳保税区" name="location_area" value="{{ res_obj.location_area|ValueToStr }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">存放地点:</span>
                <input type="text" class="form-control" placeholder="请填写详细存放地点" name="location" value="{{ res_obj.location|ValueToStr }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                    <span class="input-group-addon">入库日期:</span>
                    <input type="text" class="layui-input form-control" name="storage_time" id="up_time" value="{{ res_obj.detail_info.storage_time }}" autocomplete="off" placeholder="yyyy-MM-dd" >
            </div><br>
            <div class="input-group">
                    <span class="input-group-addon">购置日期:</span>
                    <input type="text" class="layui-input form-control" name="buy_time" id="buy_time" value="{{ res_obj.detail_info.buy_time }}" autocomplete="off" placeholder="yyyy-MM-dd" >
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">资产原值(元):</span>
                <input type="text" class="form-control" placeholder="填写数字即可" name="resource_price" value="{{ res_obj.detail_info.resource_price|ValueToStr }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">折旧周期(月):</span>
                <input type="text" class="form-control" placeholder="填写数字即可" name="depreciation_period" value="{{ res_obj.detail_info.depreciation_period|ValueToStr }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">残值率(%):</span>
                <input type="text" class="form-control" placeholder="填写数字即可" name="residuals_rate" value="{{ res_obj.detail_info.residuals_rate|ValueToStr }}" autocomplete="off">
            </div><br>
            <!-- <div class="input-group">
                <span class="input-group-addon">资产残值(元):</span>
                <input type="text" class="form-control" placeholder="填写数字即可" disabled name="resource_residuals" value="{{ res_obj.detail_info.resource_residuals }}" autocomplete="off">
            </div><br> -->
            <!-- <div class="input-group">
                <span class="input-group-addon">月折旧额:</span>
                <input type="text" class="form-control" placeholder="填写数字即可" disabled name="resource_residuals" value="{{ res_obj.detail_info.month_depreciation }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">累计折旧:</span>
                <input type="text" class="form-control" placeholder="填写数字即可" disabled name="resource_residuals" value="{{ res_obj.detail_info.total_depreciation }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">资产净值:</span>
                <input type="text" class="form-control" placeholder="填写数字即可" disabled name="resource_residuals" value="{{ res_obj.detail_info.net_value }}" autocomplete="off">
            </div><br> -->
            <div class="input-group">
                <span class="input-group-addon">规格型号:</span>
                <input type="text" class="form-control" placeholder="例：MagicBook 15" name="specifications" value="{{ res_obj.detail_info.specifications|ValueToStr }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">计量单位:</span>
                <input type="text" class="form-control" placeholder="例：个/台/只/张/组/部/套" name="units" value="{{ res_obj.detail_info.units }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">供应商:</span>
                <input type="text" class="form-control" placeholder="例：京东/新力量/中麦" name="provider" value="{{ res_obj.detail_info.provider|ValueToStr }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">SN号:</span>
                <input type="text" class="form-control" placeholder="SN号" name="sn" value="{{ res_obj.detail_info.sn|ValueToStr }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">MAC:</span>
                <input type="text" class="form-control" placeholder="MAC" name="mac" value="{{ res_obj.detail_info.mac|ValueToStr }}" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">备注:</span>
                <input type="text" class="form-control" placeholder="用户备注(不超过20字)" name="comment" value="{{ res_obj.detail_info.comment|ValueToStr }}" autocomplete="off">
            </div><br>
            <input type="submit" class="btn btn-success btn-lg btn-block" value="提交">
        </form>
    </div>
</body>

<script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
<script>
    layui.use('laydate', function(){
    var laydate = layui.laydate;
    
    //执行一个laydate实例
    laydate.render({
        elem: '#up_time' //指定元素
    });
    //执行一个laydate实例
    laydate.render({
        elem: "#borrow_time"
    });
    //执行一个laydate实例
    laydate.render({
        elem: '#buy_time' //指定元素
    });
    //执行一个laydate实例
    laydate.render({
        elem: '#return_time'
    });
    });
    
    function SetValue(){
        var status = $("#selectChange").val()
        if(status=="在用" || status=="借用" ){
            $("#borrowInfo").css("display","block");
        }else{
            $("#borrowInfo").css("display","none");
        }
    }

    // 随公司改变获取相应的部门
    function getValue(){
        var company_name = $("#company").val();
        var data = new FormData();
        data.append("company_name",company_name)
        $.ajax({
			type:"POST",
			url:"/data/detail_show/0/",
			data:data,
			processData:false,
			contentType:false,
			dataType:"json",
			success:function(result){
                // 请求成功后先清除原有选项
                var before_option = $("#department").find("option").remove();
                var long = Object.keys(result).length
				if(long!=0){
                    for(var i=0;i<long;i++){
                        $("#department").append("<option value="+result[i]+">"+result[i]+"</option>");
                    }
                }else{
                    $("#department").append("<option value="+"None"+">"+"暂无对应部门"+"</option>");
                }
			}
        });
    }
</script>
</html>