
            <div class="input-group">
                <span class="input-group-addon">领用&借用部门:</span>
                <input type="text" class="form-control" placeholder="使用账户人电话" name="borrow_department" value="" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">领用&借用人:</span>
                <input type="text" class="form-control" placeholder="使用账户人电话" name="borrow_person" value="" autocomplete="off">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon">预计归还日期:</span>
                <input type="text" class="form-control" placeholder="使用账户人电话" name="return_time" value="" autocomplete="off">
            </div><br>