<div class="page">
    <div id="pages" class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    {% if index_list.has_previous %}
                    {% if code %}
                    <a class="active"
                        href="?page={{ index_list.previous_page_number }}&code={{  code  }}&method={{ method }}">&laquo;</a>
                    {% else %}
                    <a class="active" href="?page={{ index_list.previous_page_number }}">&laquo;</a>
                    {% endif %}
                    {% endif %}
                </li>
                {% if index_list.paginator.page_range|length != 1 %}
                {% for page_num in pageRange %}
                {% if page_num == index_list.number %}
                <li class="active">
                    <a href="#" style="background-color: cadetblue;">{{ page_num }}</a>
                </li>
                {% else %}
                <li>
                    {% if code %}
                    <a href="?page={{ page_num }}&code={{  code  }}&method={{ method }}">{{ page_num }}</a>
                    {% else %}
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
                <li>
                    {% if index_list.has_next %}
                    {% if code %}
                    <a class="active"
                        href="?page={{ index_list.next_page_number }}&code={{  code  }}&method={{ method }}">&raquo;</a>
                    {% else %}
                    <a class="active" href="?page={{ index_list.next_page_number }}">&raquo;</a>
                    {% endif %}
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>