{% load static %}
<!DOCTYPE html>
<html lang='ch'>
  <head>
    <meta charset="UTF-8">
    <title>展项内容</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="{% static 'serverdb/img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'serverdb/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'serverdb/css/xadmin.css' %}">
    <script type="text/javascript" src="{% static 'serverdb/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'serverdb/lib2/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'serverdb/js/xadmin.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'serverdb/css/bootstrap.css' %}"> -->
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">--</a>
        <a href="">--</a>
        <a>
          <cite>--</cite>
        </a>
      </span>

      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right" href="/data/type_show/" title="刷新">
        <i class="layui-icon" style="line-height:30px">&#xe669;</i>
      </a>

      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="x_admin_show('新增界面','/data/insert_type/',900,800)" href="javascript:;" title="上传">
        <i class="layui-icon" style="line-height:30px">添加资产类型</i>
      </a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form id="form1" class="layui-form layui-col-md6 x-so" action="" method="get">
          <input class="layui-input" placeholder="按资产类型查询" name="search1" id="search1" autocomplete="off">
          <button id="layui-btn1" class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>

        <form id="form2" class="layui-form layui-col-md6 x-so" action="" method="post">{% csrf_token %}
          <input class="layui-input" placeholder="按编码查询" name="search2" id="search2" autocomplete="off">
          <button id="layui-btn2" class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button> -->
        <!-- <button class="layui-btn" onclick="x_admin_show('添加用户','./member-add.html',600,400)"><i class="layui-icon"></i>添加</button> -->
        <span class="x-right" style="line-height:40px">共有数据：{{ lenlist }} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>id</th>
            <th>资产类型</th>
            <th>编码</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for foo in index_list %}
          <tr id="data_show">
            <td>{{ foo.id }}</td> 
            <td>{{ foo.name }}</td>
            <td>{{ foo.code }}</td>
            <td class="td-manage">    
                <a class="layui-btn layui-btn-small layui-btn-normal" title="编辑"  onclick="x_admin_show('信息修改','/data/update_type/{{foo.id}}',900,800)">
                    <i class="layui-icon">&#xe642;</i>修改
                </a>
                <a class="layui-btn layui-btn-small layui-btn-danger" title="删除" href="/data/delete_type/{{foo.id}}">
                <i class="layui-icon">&#xe640;</i>删除
                </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- <div class="page">
        <div>
          <nav aria-label="Page navigation" class="pull-right">
            <ul class="pagination">
                {{ html|safe }}
            </ul>
          </nav>
        </div>
      </div>
    </div> -->
    
    {% include 'paginator.html' %}
    <script>

      layui.use('element', function(){
        var element = layui.element;
        
      });

      $("#layui-btn1").click(function(){
        var input_str = $("input[name='search1']").val();
        //若对查询进行空点，则不给予反应
        if(input_str.length === 0){
          return false;
        }else{
          document.getElementById("form1").action='/data/search_type/';
        }
      })

      $("#layui-btn2").click(function(){
        var input_str = $("input[name='search2']").val();
        //若对查询进行空点，则不给予反应
        if(input_str.length === 0){
          return false;
        }else{
          document.getElementById("form2").action='/data/search_type/';
        }
      })

    </script>
    
  </body>

</html>